#moduleRegister {
    width: 100%;
    max-width: 550px !important;

    .content-scroll{
        margin-top: 10px;
        padding: 24px;
    }

    .checkbox{
        margin-top: 20px;
    }

    .button-config-dialog-control {
        padding: 1px;
        background: #3f1870;

        h2 {
            color: #fff;
            margin-top: 10px;
        }
    }

    .button-config {
        width: 100%;
    }

    .icon-config-dialog {
        color: rgb(247, 247, 247);
        margin-top: 17px;
        margin-left: 20px;
    }

    .cancel-icon-config {
        color: #fff;
    }

    .envolti-table {
        margin: auto;
        margin-top: 40px;
        height: 100%;
        max-height: 250px;
        border-radius: 10px;
        overflow: auto;
        width: 100%;
        max-width: 950px;
    }

    .mat-dialog-content {
        overflow: auto;
        height: calc(100% - 600px);
    }

    .form-table-config {
        margin-left: 30px;
        margin-right: 30px;
    }
}
.mat-dialog-container {
    padding: 0px!important;
}

