#activeDirectory{
  max-width: 1700px;
    .label{
        margin-top: 50px;
    }

    .form-control{
        width: 100%;
    }
    .navigation-buttons {
    margin: auto;
    width: 100%;
  }
  // .mat-form-field-flex{
  //   height: 60px;
  // }

  .content-form {
    height: calc(100vh - 216px);
    .form-box {
      max-width: 1600px;
    }
  }

}