<div id="activeDirectory" class="page">
    <div class="content-active" fxLayout="row" fxLayoutAlign="start start">
      <h2 mat-dialog-title class="title">Conexão Avtive Directory</h2>
    </div>
    <div class="content-form" fxLayout="column">
      <form [formGroup]="settingForm" class="form-box">
        <mat-form-field class="form-control" appearance="outline">
          <mat-label>Endereço AD</mat-label>
          <input matInput placeholder="Endereço AD" formControlName="adAdress" />
          <mat-error
            *ngIf="
              settingForm && settingForm.controls['adAdress'].hasError('required')
            ">
            Campo endereço AD é orbrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-control" appearance="outline">
          <mat-label>Usuário</mat-label>
          <input matInput placeholder="Usuário" formControlName="user" />
          <mat-error
            *ngIf="
              settingForm && settingForm.controls['user'].hasError('required')
            ">
            Campo user é orbrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-control" appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Senha" formControlName="password" />
          <mat-error
            *ngIf="
              settingForm && settingForm.controls['password'].hasError('required')
            ">
            Campo senha orbrigatório
          </mat-error>
          <mat-error
            *ngIf="
              settingForm &&
              settingForm.controls['password'].hasError('minlength')
            ">
            Senha muito pequena</mat-error
          >
          <mat-error
            *ngIf="
              settingForm &&
              settingForm.controls['password'].hasError('maxlength')
            ">
            Senha muito grande</mat-error
          >
        </mat-form-field>
      </form>
    </div>
    <div class="navigation-buttons" fxLayoutAlign="center end" fxLayoutGap="16px">
      <button mat-flat-button color="primary">Conectar</button>
    </div>
  </div>
  