<div id="client-config" class="page">
  <div class="content-scroll">
    <div class="config-group-box">
      <div fxLayout="row wrap" fxLayoutAlign="start">
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">supervisor_account</mat-icon>
              <h3>Cargos colaboradores</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">supervised_user_circle</mat-icon>
              <h3>Cargos clientes</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">transgender</mat-icon>
              <h3>Sexo</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">receipt_long</mat-icon>
              <h3>Estado cívil</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">loupe</mat-icon>
              <h3>Tipo relacionamento</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">history_edu</mat-icon>
              <h3>Grau de Instrução</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">school</mat-icon>
              <h3>Situação Instrução</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">account_balance</mat-icon>
              <h3>Instituições Financeiras</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">description</mat-icon>
              <h3>Tipos de Contratos</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">code</mat-icon>
              <h3>Tecnologias</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">trending_up</mat-icon>
              <h3>Senioridade</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">file_open</mat-icon>
              <h3>Tipo documento identificação</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">chat</mat-icon>
              <h3>Tipo feednback</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">work</mat-icon>
              <h3>Tipo vaga</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">exposure_plus_1</mat-icon>
              <h3>DDI</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">flag</mat-icon>
              <h3>Idiomas</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
                <mat-icon class="icon">insert_chart</mat-icon>
              <h3>Situação projeto</h3>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="goBack()" class="button" color="primary" mat-flat-button>
  <mat-icon> chevron_left </mat-icon> Voltar
</button>
