<div id="client-config" class="page">
  <div class="content-scroll">
    <div class="config-group-box">
      <div fxLayout="row wrap" fxLayoutAlign="start">
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Cargos colaboradores</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Cargos clientes</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Sexo</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Estado cívil</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Tipo relacionamento</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Grau de Instrução</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Situação Instrução</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Instituições Financeiras</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Tipos de Contratos</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Tecnologias</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Senioridade</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Tipo documento identificação</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Tipo feednback</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Tipo vaga</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>DDI</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Idiomas</h3>
            </div>
          </button>
        </div>
        <div>
          <button class="config-box" mat-stroked-button fxLayout="column">
            <div class="config-name" fxLayoutAlign="start center">
              <h3>Situação projeto</h3>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="goBack()" class="button" color="primary" mat-flat-button>
  <mat-icon> chevron_left </mat-icon> Voltar
</button>
