<!-- <div id="client-config" class="page">
  <div class="content-scroll">

    <div fxLayout="row wrap" fxLayoutAlign="center">
      <div *ngFor="let menu of menuList ">
        <img class="cargo-cliente img" src="../assets/icons/register.png" (click)="openModal(menu)">
      </div>
    </div>
  </div>
</div>
<button (click)="goBack()" class="go-back-button" color="primary" mat-flat-button>
  <mat-icon> chevron_left </mat-icon>{{ "back_btn" | translate }}
</button> -->

<!-- <div id="client-config" class="page">
  <div class="content-scroll">
    <div class="initial-group-box">
    </div>
  </div>
  <div class="group-box"  fxLayout="row"  fxLayoutAlign="space-evenly center"> 
    <div class="content-image">
    <img
    class="img"
    src="../assets/icons/register-portal.png"
  />
</div>
  <img
    class="img"
    src="../assets/icons/register-portal.png"
  />
  <img
    class="img"
    src="../assets/icons/register-portal.png"
  />
  </div> -->

<div id="client-config" class="page">
  <div class="content-scroll">
    <div class="group-content">
      <div fxLayout="row">
        <img
          class="img"
          class="img-1"
          src="../assets/icons/register-portal.png"
        />
        <img class="img" src="../assets/icons/register-portal.png" />
        <img class="img" src="../assets/icons/register-portal.png" />
      </div>
    </div>
  </div>
</div>
