<div id="portal" class="page">
  <div class="initial-group-box">
    <div  fxLayout="row wrap" fxLayoutAlign="start">
      <div>
        <button
          class="initial-box"
          mat-stroked-button
          fxLayout="column"
          (click)="openDialogModule()"
        >
          <div class="initial-name" fxLayoutAlign="start center">
            <mat-icon class="icon">person</mat-icon>
            <h3>Cadastro de módulo</h3>
          </div>
        </button>
      </div>
      <div>
        <button
          class="initial-box"
          mat-stroked-button
          fxLayout="column"
          (click)="openDialogScreens()"
        >
          <div class="initial-name" fxLayoutAlign="start center">
            <mat-icon class="icon">group</mat-icon>
            <h3>Cadastro de tela</h3>
          </div>
        </button>
      </div>
      <div>
        <button
          class="initial-box"
          mat-stroked-button
          fxLayout="column"
          (click)="openProfileTab()"
        >
          <div class="initial-name" fxLayoutAlign="start center">
            <mat-icon class="icon">work</mat-icon>
            <h3>Cadastro de perfil</h3>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
