#screenPage {

    .form-box {
        width: 100%;
    }

    .content-scroll{
        margin-top: 5px;
    }

    .back-icon {
        margin-top: 24px;
    }


    .form-group-content {
        min-width: 400px;
        padding-top: 30px;
    }

    .content-scroll {
        overflow: auto;
        height: calc(100vh - 200px);
    }

    .space-between-form {
        margin-top: 30px;
    }
}

