<div id="screenDialog">
    <div class="button-config-dialog-control">
        <mat-panel-title class="config-box" fxLayout="row">
            <mat-icon class="icon-config-dialog">account_circle</mat-icon>
            <button disabled class="button-config" mat-button>
                <h2 fxLayoutAlign="start">Telas</h2>
            </button>
            <button class="cancel-icon-config"  mat-button>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-panel-title>
    </div>

    <div fxLayout="column" class="content-scroll" *ngIf="screenForm">
        <form [formGroup]="screenForm" fxLayout="column">

            <div fxFlex="100" fxLayoutAlign="space-between" fxLayoutGap="25px">
                <mat-form-field fxFlex="50" appearance="outline">
                    <mat-label>Módulo</mat-label>
                    <input matInput placeholder="Módulo" formControlName="moduleName" />
                </mat-form-field>
                <mat-form-field fxFlex="50" appearance="outline">
                    <mat-label>Identificador</mat-label>
                    <input matInput placeholder="Identificador" formControlName="identifier" />
                </mat-form-field>
            </div>
            <div fxFlex="100" fxLayoutAlign="start" fxLayoutGap="25px">
                <mat-form-field fxFlex="50" appearance="outline">
                    <mat-label>Nome da tela</mat-label>
                    <input matInput placeholder="Nome da tela" formControlName="screenName" />
                </mat-form-field>
                <mat-checkbox fxLayoutAlign="start center" class="checkbox" color="primary" fxFlex="50" formControlName="active">Inativo
                </mat-checkbox>
            </div>
        </form>
    </div>
    <div class="navigation-buttons" fxLayoutAlign="center start" class="saveButton" fxLayoutGap="16px">
        <button mat-flat-button color="primary">Salvar</button>
    </div>
</div>