#wrapper {
    display: flex;
    border: 1px solid black;
}

#first {
    border: 1px solid red;
}

#second {
    border: 1px solid green;
}

.form-login {
    margin-right: 290px;
}

.fomr-edit {
    margin-left: 100px;
}