#activeEmail {
max-width: 1700px;
    .navigation-buttons {
      margin: auto;
      width: 100%;
    }
  
  
    .content-scroll {
      overflow: auto;
      height: calc(100vh - 216px);
  
    }
  }
  