<div id="activeEmail" class="page">
    <div fxLayout="row" fxLayoutAlign="start start">
      <h2 mat-dialog-title class="title">Configuração De Servidor</h2>
    </div>
    <div class="content-scroll" fxLayout="column">
      <form [formGroup]="settingForm">
        <div fxLayout="column" fxLayoutGap="16px" fxFlexAlign="start">
          <mat-form-field appearance="outline">
            <mat-label>Tipo de Servidor</mat-label>
            <mat-select
              matInput
              disableRipple
              [compareWith]="compareSelect"
              formControlName="serverType">
              <mat-option [value]="1">SMTP</mat-option>
              <mat-option [value]="2">POP</mat-option>
              <mat-option [value]="3">IMAP</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <h2>Servidor de entrada</h2>
        <div fxLayoutGap="16px" fxFlexAlign="start" fxLayout="row">
          <mat-form-field appearance="outline">
            <mat-label>Servidor</mat-label>
            <input
              matInput
              placeholder="Servidor"
              formControlName="incomingServerName" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Porta</mat-label>
            <input matInput placeholder="Porta" formControlName="door" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-checkbox
            *ngIf="settingForm.controls['serverType'].value !== 3"
            class="checkbox"
            color="primary"
            formControlName="checkServer"
            >Este servidor requer uma conexão criptografada(SSL/TLS)</mat-checkbox
          >
  
          <mat-form-field
            appearance="outline"
            *ngIf="settingForm.controls['serverType'].value !== 1">
            <mat-label>Método de Criptografia</mat-label>
            <mat-select
              matInput
              disableRipple
              formControlName="incomingEncryptionMethod">
              <mat-option value="1">Nenhum</mat-option>
              <mat-option value="2">SSL/TLS</mat-option>
              <mat-option value="3">STARTTLS</mat-option>
              <mat-option value="4">STARTTLS</mat-option>
              <mat-option value="5">Automático</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-checkbox color="primary" formControlName="checkLogin"
            >Este login usando Autenticação de Senha de
            Segurança(SPA)</mat-checkbox
          >
        </div>
        <p></p>
        <h2>Servidor de saída</h2>
        <div fxLayoutGap="16px" fxFlexAlign="start" fxLayout="row">
          <mat-form-field appearance="outline">
            <mat-label>Servidor</mat-label>
            <input
              matInput
              placeholder="Servidor"
              formControlName="outgoingServerName" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Porta</mat-label>
            <input matInput placeholder="Porta" formControlName="outgoingDoor" />
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Método de Criptografia</mat-label>
            <mat-select
              matInput
              disableRipple
              formControlName="outgoingEncryptionMethod">
              <mat-option value="option1">Nenhum</mat-option>
              <mat-option value="option2">SSL/TLS</mat-option>
              <mat-option value="option3">STARTTLS</mat-option>
              <mat-option value="option3">STARTTLS</mat-option>
              <mat-option value="option3">Automático</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox color="primary" formControlName="outgoingCheckLogin"
            >Este login usando Autenticação de Senha de
            Segurança(SPA)</mat-checkbox
          >
        </div>
      </form>
    </div>
    <div class="navigation-buttons" fxLayoutAlign="center end" fxLayoutGap="16px">
      <button mat-flat-button color="primary">Conectar</button>
    </div>
  </div>
  