<div id="about" class="page">
  <div>
    <img src="../../../assets/icons/blue-rocket-icon.png " />
  </div>
  <br>
  <div fxLayout="column" fxLayoutAlign="start start">
    <h1 mat-dialog-title>ESIGI SISTEMA DE GESTÃO DE SERVIÇOS</h1>
    <div fxLayout="row">
      <div fxLayout="column" class="options">
        <i>Versão Front:</i>
        <i>Versão de Back:</i>
        <i>Versão de Banco:</i>
        <i>Data Release:</i>
      </div>
      <div fxLayout="column" class="date">
        <i>Data</i>
        <i>Data</i>
        <i>Data</i>
        <i>Data</i>
      </div>
      <div fxLayout="column" class="version">
        <i>Versão</i>
        <i>Versão</i>
        <i>Versão</i>
        <i>Versão</i>
      </div>
    </div>

  </div>

</div>