#EditCreate {
    .tab-group {
        width: 100%;
        cursor: pointer;
    }

    .tab-item {
        white-space: nowrap;
        overflow: hidden;
    }

    .content-scroll {
        overflow: auto;
        height: calc(100vh - 280px);
    }

    .title {
        margin: 0 !important;
    }
}