<div id="EditCreate" class="page">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-button class="btn-arrow-back" color="primary">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h2 class="title">Colaborador</h2>
  </div>

  <div fxLayout="row" class="tab" fxLayoutGap="16px">
    <div (click)="handleStep(1)" fxLayout="column" class="tab-group" [ngClass]="{ done: step > 0, active: step == 1 }">
      <p class="tab-item">Cadastro</p>
      <span class="tab-border"></span>
    </div>
    <div (click)="handleStep(2)" fxLayout="column" class="tab-group" [ngClass]="{ done: step > 1, active: step == 2 }">
      <p class="tab-item">Educação</p>
      <span class="tab-border"></span>
    </div>
    <div (click)="handleStep(3)" fxLayout="column" class="tab-group" [ngClass]="{ done: step > 2, active: step == 3 }">
      <p class="tab-item">Skills</p>
      <span class="tab-border"></span>
    </div>
    <div (click)="handleStep(4)" fxLayout="column" class="tab-group" [ngClass]="{ done: step > 3, active: step == 4 }">
      <p class="tab-item">Acompanhamento</p>
      <span class="tab-border"></span>
    </div>
  </div>

  <app-edit-tab *ngIf="collaboratorForm" [hidden]="step != 1" (onChange)="handleChanges($event)"
    [collaboratorForm]="collaboratorForm" [userForm]="userForm">
  </app-edit-tab>

  <app-edit-education-tab *ngIf="collaboratorForm" [hidden]="step != 2" (onChange)="handleChanges($event)"
    [collaboratorForm]="collaboratorForm">
  </app-edit-education-tab>

  <app-edit-skill-tab *ngIf="collaboratorForm" [hidden]="step != 3" (onChange)="handleChanges($event)"
    [collaboratorForm]="collaboratorForm">
  </app-edit-skill-tab>

  <app-edit-panel-tab *ngIf="collaboratorForm" [hidden]="step != 4" (onChange)="handleChanges($event)">
  </app-edit-panel-tab>

  <div class="navigation-buttons" fxLayoutAlign="center end" fxLayoutGap="16px">

    <button mat-button *ngIf="step != 1" (click)="navigate('back')">
      Voltar
    </button>
    <button mat-flat-button *ngIf="step != 4" (click)="navigate('next')" color="primary">
      Continuar
    </button>

  </div>
</div>