<div id="registers-initial" class="page">
  <div class="content-scroll">
    <div class="initial-group-box">
    </div>
  </div>
  <div class="group-box-superior"  fxLayout="row" fxLayoutAlign="space-around center"  >
    <img
    class="img"
    src="../assets/icons/8.png"
    (click)="clientConfig()"
  />
  <img
    class="img"
    src="../assets/icons/9.png"
    (click)="collaboratorConfig()"
  />
  <img
    class="img"
    src="../assets/icons/10.png"
    (click)="projectConfig()"
  />
  </div>
  <div  class="group-box-bottom" fxLayout="row" fxLayoutAlign="space-evenly center"  >
    <img
    class="img"
    src="../assets/icons/11.png"
    (click)="financeConfig()"
  />
  <img
    class="img"
    src="../assets/icons/12.png"
    (click)="genericConfig()"
  />
  </div>
</div>
