<div id="registers-initial" class="page">
  <div class="content-scroll">
    <div class="initial-group-box">
      <!-- <div>
      <img
        class="img"
        src="../assets/icons/avatar-astronauta.png"
      />
      </div> -->


      <!-- <div  fxLayout="row wrap" fxLayoutAlign="start">
              <div>
                <button
                  class="initial-box"
                  mat-stroked-button
                  fxLayout="column"
                  (click)="clientConfig()"
                >
                  <div class="initial-name" fxLayoutAlign="start center">
                    <mat-icon class="icon">person</mat-icon>
                    <h3>{{ "register_initial.client_register" | translate }}</h3>
                  </div>
                </button>
              </div>
              <div>
                <button
                  class="initial-box"
                  mat-stroked-button
                  fxLayout="column"
                  (click)="collaboratorConfig()"
                >
                  <div class="initial-name" fxLayoutAlign="start center">
                    <mat-icon class="icon">group</mat-icon>
                    <h3>{{ "register_initial.collaborator_register" | translate }}</h3>
                  </div>
                </button>
              </div>
              <div>
                <button
                  class="initial-box"
                  mat-stroked-button
                  fxLayout="column"
                  (click)="projectConfig()"
                >
                  <div class="initial-name" fxLayoutAlign="start center">
                    <mat-icon class="icon">work</mat-icon>
                    <h3>{{ "register_initial.project_register" | translate }}</h3>
                  </div>
                </button>
              </div>
              <div>
                <button
                  class="initial-box"
                  mat-stroked-button
                  fxLayout="column"
                  (click)="financeConfig()"
                >
                  <div class="initial-name" fxLayoutAlign="start center">
                    <mat-icon class="icon">work</mat-icon>
                    <h3>{{ "register_initial.financial_register" | translate }}</h3>
                  </div>
                </button>
              </div>
              <div>
                <button
                  class="initial-box"
                  mat-stroked-button
                  fxLayout="column"
                  (click)="genericConfig()"
                >
                  <div class="initial-name" fxLayoutAlign="start center">
                    <mat-icon class="icon">add</mat-icon>
                    <h3>{{ "register_initial.generic_register" | translate }}</h3>
                  </div>
                </button>
              </div>
            </div> -->
    </div>
  </div>
  <div class="group-box-superior"  fxLayout="row" fxLayoutAlign="space-around center"  >
    <img
    class="img"
    src="../assets/icons/1.png"
    (click)="clientConfig()"
  />
  <img
    class="img"
    src="../assets/icons/2.png"
    (click)="collaboratorConfig()"
  />
  <img
    class="img"
    src="../assets/icons/3.png"
    (click)="projectConfig()"
  />
  </div>
  <div  class="group-box-bottom" fxLayout="row" fxLayoutAlign="space-evenly center"  >
    <img
    class="img"
    src="../assets/icons/4.png"
    (click)="financeConfig()"
  />
  <img
    class="img"
    src="../assets/icons/5.png"
    (click)="genericConfig()"
  />
  </div>
</div>
