
<div id="project-config" class="page">
    <div class="content-scroll">
      <div class="config-group-box">
        <div fxLayout="row wrap" fxLayoutAlign="start">
          <div>
            <button class="config-box" mat-stroked-button fxLayout="column">
              <div class="config-name" fxLayoutAlign="start center">
                  <mat-icon class="icon">supervisor_account</mat-icon>
                <h3>Cargos Colaboradores</h3>
              </div>
            </button>
          </div>
          <div>
            <button class="config-box" mat-stroked-button fxLayout="column">
              <div class="config-name" fxLayoutAlign="start center">
                  <mat-icon class="icon">supervisor_account</mat-icon>
                <h3>Cadastro Papeis</h3>
              </div>
            </button>
          </div>
          <div>
            <button class="config-box" mat-stroked-button fxLayout="column">
              <div class="config-name" fxLayoutAlign="start center">
                  <mat-icon class="icon">supervisor_account</mat-icon>
                <h3>Status de Projeto</h3>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="goBack()" class="go-back-button" color="primary" mat-flat-button>
    <mat-icon> chevron_left </mat-icon> Voltar
  </button>
  